<footer>
    <div class="f1">
        <img src="logo/onlinelogomaker-072724-1809-9494-2000-transparent.png" alt="">

    </div>
    <div class="f2">
      &copy.2024 All Rights Reserved Terms of Use and Privacy Policy
    </div>
    <div >
      <ul class="f3">
        <li><a target="_blank"  href="https://www.facebook.com/HypeTheGym/"><img class="blue" src="logo/facebook.svg" alt=""></a></li>
        <li><a target="_blank"   href="https://x.com/i/flow/login?redirect_after_login=%2Fhypefitness_uk"><img class="blue" src="logo/twitter.svg" alt=""></a></li>
        <li><a target="_blank"   href="https://in.linkedin.com/company/hype---the-gym---india"><img class="blue" src="logo/linkedin.svg" alt=""></a></li>
        <li><a target="_blank"   href="https://www.youtube.com/watch?v=wPhjAHAi8dM"><img class="blue" src="logo/youtube.svg" alt=""></a></li>
        <li><a target="_blank"   href="https://www.instagram.com/hypethegym/?hl=en"><img class="blue" src="logo/instagram.svg" alt=""></a></li>
      </ul>
    </div>

</footer>