<nav>
    <div id="logobox" class="tli"><img id="logo" src="logo/onlinelogomaker-072624-1619-0837.png"
            alt="">
    </div>
    <div class="pages">
        <ul>
            <li class="textwhite tli arrange "><a href="/" class="textwhite styyl" id="home-active">Home</a><li>
            <li class="textwhite tli"><a href="/about" class="textwhite styyl" id="about-active">About</a></li>
            <li class="textwhite tli"><a href="/contact" class="textwhite styyl" id="contact-active">Contact</a></li>
            <li class="textwhite tli"><a href="" class="textwhite styyl">Courses</a></li>
        </ul>
    </div>
</nav>