<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="stylesheet" href="About.css">
  </source>
</head>

<body>
  <%- include('partials/nav') %>

  <div id="aboutback">
    <div class="title">
      <span>
        About Us
      </span>
    </div>
    <div class="Animationbox ">

    </div>
  </div>
  <div class="info">
    <div class="container1">
      <h3>WHO WE ARE ?</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem similique molestias sit nobis quae deleniti
        sapiente! Beatae quas repudiandae saepe vero nemo cupiditate, voluptatem optio? Delectus, quasi veritatis
        consectetur minus magnam praesentium alias earum voluptatibus dolorem commodi esse ipsa modi rerum repudiandae
        ullam id itaque.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam expedita accusamus laudantium sed voluptas
        quos voluptatum dolorum eveniet. Molestiae magni aliquid dolor eveniet itaque blanditiis nulla est earum.
        Exercitationem inventore tempore, atque perferendis doloremque temporibus esse dicta, nam sunt animi fuga quasi,
        officia odio voluptatibus?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis at voluptate officia sit eligendi nisi fuga
        exercitationem aperiam expedita aspernatur, quia nesciunt voluptatum quibusdam cupiditate odio optio, voluptas
        tenetur repellat neque tempora, tempore necessitatibus reprehenderit! Aut quidem expedita, nisi incidunt numquam
        harum sint explicabo? Sapiente.</p>
    </div>
    <div class="container2">
      <ul class="list">
        <li>Lorem, ipsum dolor.</li>
        <li>Lorem, ipsum dolor.</li>
        <li>Lorem ipsum dolor sit.</li>
      </ul>
      <ul class="list">
        <li>Lorem, ipsum dolor.</li>
        <li>Lorem, ipsum dolor.</li>
        <li>Lorem ipsum dolor sit.</li>
      </ul>
      <ul class="list">
        <li>Lorem, ipsum dolor.</li>
        <li>Lorem, ipsum dolor.</li>
        <li>Lorem ipsum dolor sit.</li>
      </ul>

    </div>
  </div>

  <div class="info2">
    <div class="secondhead">
      <h3>TRAINERS</h3>
    </div>
    <div class="vidin">
      <div class="card"><video playsinline autoplay loop muted
          src="videos/3196220-uhd_3840_2160_25fps.mp4"></video>
        <div class="heading">
          <h4>Jake Robinson</h4>
        </div>
        <div class="para1">
          <p><b>Specialization :</b>CrossFit.</p>
        </div>
        <div class="para2">
          <p><b>Bio:</b>With 7 years of experience, Jake Robinson is a dedicated CrossFit coach known for his intense
            and engaging sessions. He focuses on functional fitness to help clients enhance their overall athletic
            performance.
          </p>
        </div>
      </div>
      <div class="card"><video playsinline autoplay loop muted
          src="videos/3209068-uhd_3840_2160_25fps.mp4"></video>
        <div class="heading">
          <h4> Emily Parker</h4>
        </div>
        <div class="para1">
          <p><b>Specialization :</b>Bodybuilding. </p>
        </div>
        <div class="para2">
          <p><b>Bio:</b> Emily Parker, a personal trainer with 12 years of experience, specializes in
            bodybuilding. Her disciplined approach and customized plans help clients build muscle and achieve their
            fitness goals.
          </p>
        </div>
      </div>
      <div class="card"><video playsinline autoplay loop muted
          src="videos/4367580-hd_1920_1080_30fps.mp4"></video>
        <div class="heading">
          <h4>Lisa Martinez</h4>
        </div>
        <div class="para1">

          <p ><b>Specialization :</b>Yoga and Pilates. </p>
        </div>
        <div class="para2">
          <p><b>Bio:</b> Lisa Martinez has 8 years of experience as a yoga and Pilates instructor. She
            integrates mindfulness and flexibility training, providing holistic sessions that enhance both physical and
            mental wellness.
          </p>
        </div>
      </div>
      <div class="card"><video playsinline autoplay loop muted
          src="videos/855828-hd_1920_1080_30fps.mp4"></video>
        <div class="heading">
          <h4>Mark Davis</h4>
        </div>
        <p class="para1"><b>Specialization :</b> HIIT</p>
        <p class="para2"><b>Bio:</b>Mark Davis is a dynamic HIIT coach with 6 years of experience. His high-energy,
          fat-burning workouts are designed to push limits and deliver rapid results, making fitness fun and effective.
        </p>
      </div>
    </div>

  </div>
  <!-- <footer>
    <div class="f1">
        <img src="downloads/logo/onlinelogomaker-072724-1809-9494-2000-transparent.png" alt="">

    </div>
    <div class="f2">
      &copy.2024 All Rights Reserved Terms of Use and Privacy Policy
    </div>
    <div >
      <ul class="f3">
        <li><a target="_blank"  href="https://www.facebook.com/HypeTheGym/"><img class="blue" src="downloads/logo/facebook.svg" alt=""></a></li>
        <li><a target="_blank"   href="https://x.com/i/flow/login?redirect_after_login=%2Fhypefitness_uk"><img class="blue" src="downloads/logo/twitter.svg" alt=""></a></li>
        <li><a target="_blank"   href="https://in.linkedin.com/company/hype---the-gym---india"><img class="blue" src="downloads/logo/linkedin.svg" alt=""></a></li>
        <li><a target="_blank"   href="https://www.youtube.com/watch?v=wPhjAHAi8dM"><img class="blue" src="downloads/logo/youtube.svg" alt=""></a></li>
        <li><a target="_blank"   href="https://www.instagram.com/hypethegym/?hl=en"><img class="blue" src="downloads/logo/instagram.svg" alt=""></a></li>
      </ul>
    </div>

</footer> -->
  <footer>
    <div class="f1">
      <img src="logo/onlinelogomaker-072724-1809-9494-2000-transparent.png" alt="">
    </div>
    <div class="f2">
      &copy.2024 All Rights Reserved Terms of Use and Privacy Policy
    </div>
    <div>
      <ul class="f3">
        <li><a target="_blank" href="https://www.facebook.com/HypeTheGym/"><img class="blue"
              src="logo/facebook.svg" alt=""></a></li>
        <li><a target="_blank" href="https://x.com/i/flow/login?redirect_after_login=%2Fhypefitness_uk"><img
              class="blue" src="logo/twitter.svg" alt=""></a></li>
        <li><a target="_blank" href="https://in.linkedin.com/company/hype---the-gym---india"><img class="blue"
              src="logo/linkedin.svg" alt=""></a></li>
        <li><a target="_blank" href="https://www.youtube.com/watch?v=wPhjAHAi8dM"><img class="blue"
              src="logo/youtube.svg" alt=""></a></li>
        <li><a target="_blank" href="https://www.instagram.com/hypethegym/?hl=en"><img class="blue"
              src="logo/instagram.svg" alt=""></a></li>
      </ul>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
    integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="About.js"></script>

</body>

</html>