<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Hype the gym</title>
</head>

<body>
    <main>
        <%- include('partials/nav') %>
        <div class="three">
            <div class="container">
                <div class="largetext">
                    <span class="redtext">Sweat,Strengthen,</span>
                    <span class="textwhite">and</span>
                </div>
                <div class="largetext">
                    <span class="redtext">Transform</span>
                    <span class="textwhite">Your Body By </span> <span class="redtext">Pushing</span> <span
                        class="textwhite">Yourself To Be</span>
                </div>
                <div class="largetext">
                    <span id="element" class="redtext"></span>
                </div>
                <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
                <script>
                    var typed = new Typed('#element', {
                        strings: ['Stronger.', 'Faster.', 'Better.', 'Healthier.', 'Fitter.', 'Tougher.', 'Leaner.', 'Braver.', 'Wiser.', ' Happier :)', 'Stronger.', 'Faster.', 'Better.', 'Healthier.', 'Fitter.', 'Tougher.', 'Leaner.', 'Braver.', 'Wiser.', ' Happier :)'],
                        typeSpeed: 100,
                    });
                </script>

            </div>
            <div class="container1">
                <p class="retext">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi placeat voluptates
                    ipsam
                    voluptatem, animi impedit iure rem, nostrum dolor consequuntur quos deleniti similique quibusdam
                    fuga
                    cumque in ducimus officiis adipisci dolorem velit eius! Expedita beatae, ducimus et dolorum
                    repellendus
                    est necessitatibus nemo quod ipsum eveniet.
                </p>
            </div>
            <div class="container3">
                Join now
            </div>
        </div>
        <footer>
            <div class="f1">
                <img src="logo/onlinelogomaker-072724-1809-9494-2000-transparent.png" alt="">
            </div>
            <div class="f2">
                &copy.2024 All Rights Reserved Terms of Use and Privacy Policy
            </div>
            <div>
                <ul class="f3">
                    <li><a target="_blank" href="https://www.facebook.com/HypeTheGym/"><img class="blue"
                                src="logo/facebook.svg" alt=""></a></li>
                    <li><a target="_blank" href="https://x.com/i/flow/login?redirect_after_login=%2Fhypefitness_uk"><img
                                class="blue" src="logo/twitter.svg" alt=""></a></li>
                    <li><a target="_blank" href="https://in.linkedin.com/company/hype---the-gym---india"><img
                                class="blue" src="logo/linkedin.svg" alt=""></a></li>
                    <li><a target="_blank" href="https://www.youtube.com/watch?v=wPhjAHAi8dM"><img class="blue"
                                src="logo/youtube.svg" alt=""></a></li>
                    <li><a target="_blank" href="https://www.instagram.com/hypethegym/?hl=en"><img class="blue"
                                src="logo/instagram.svg" alt=""></a></li>
                </ul>
            </div>
        </footer>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="home.js"></script>
</body>

</html>